# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ApplicationWindows.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\code\my-projects\ZenMind.ApplicationWindows\src\ApplicationWindows\.idea\.idea.ApplicationWindows.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
