# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.ZenMind.Windows.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\code\my-projects\ZenMind.Windows\.idea\.idea.ZenMind.Windows\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
